# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*
*tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
# env file, for maintaining any local script, environment variables/secret required
*.env

# tmp directory, place here any local file you want to maintain out of version control
**/.tmp/

# "Desktop Services Store": invisible file on macOS that gets automatically created anytime you look into a folder with ‘Finder.’ 
.DS_Store

# Local terratest data dirs
**/.test-data/*

#test artifacts that we do not want checked in
tests/*.mod
tests/*.sum
tests/*.log
